<div class="title-container">
    <div class="title-logo">
        <img src="img/logo.svg" alt="">
    </div>
</div>

<div id="navigation">
    <a href="/videos/create">
        <div class="create-button">
            <div class="create-image">
                <img src="/img/add.svg" alt="create">
            </div>
            <p>Add new item</p>
        </div>
    </a>
</div>

<div class="contents-container" id="videos-container" name="videos-container">

</div>